<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/build/global.css">
        <script src="{{site.baseurl}}/assets/js/modernizr-2.6.2.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="{{page.layout}}">
      <div class="container">
        <div class="phone">
          <img class="skin" src="{{site.baseurl}}/assets/img/iphone-prototype.png" />
          <span class="fix-head"><img src="fix-head.png" /></span>
          <div class="screenwrapper">{{ content }}</div>
          <a class="link link1" data-img="screens/Home_mini"></a>
          <a class="link link2" data-img="screens/2.Discover_mini"></a>
          <a class="link link3" data-img="screens/3.Capture_Moment_mini"></a>
          <a class="link link4" data-img="screens/4.FeaturedWinery_01_Best_mini"></a>
          <a class="link link5" data-img="screens/1.User_home_design_mini"></a>
          <span class="fix-bottom"><img src="fix-bottom.png" /></span>
        </div>
        <ul class="linklist">
          <li>--- User profile ---</li>
          <li><a class="link" data-img="screens/1.User_home_design_mini">User_home_design</a></li>
          <li><a class="link" data-img="screens/UserProfile_Home_02_Profile_mini">UserProfile_Home_02_Profile</a></li>
          <li><a class="link" data-img="screens/WineProfile_TastingNote_details_mini">WineProfile_TastingNote_details</a></li>

          <li>--- Wine profile ---</li>
          <li><a class="link" data-img="screens/WineProfile_Home_01_WineDetails_mini">WineProfile_Home_01_WineDetails</a></li>
          <li><a class="link" data-img="screens/WineProfile_Home_02_Tasting_mini">WineProfile_Home_02_Tasting</a></li>

          <li>--- Capture moment ---</li>
          <li><a class="link" data-img="screens/Capture_Moment_Photo" data-z="3000">Capture_Moment_Photo</a></li>      
          <li><a class="link" data-img="screens/Capture_Moment_Video" data-z="3000">Capture_Moment_Video</a></li>              
          <li><a class="link" data-img="screens/Capture_Moment_Share_mini">Capture_Moment_Share</a></li>        

          <li>--- Capture tasting ---</li>
          <li><a class="link" data-img="screens/Capture_Tasting_Photo"  data-z="3000">Capture_Tasting_Photo</a></li>      
          <li><a class="link" data-img="screens/Capture_Tasting_Failure_mini">Capture_Tasting_Failure</a></li>  
          <li><a class="link" data-img="screens/Capture_Tasting_Success_mini">Capture_Tasting_Success</a></li>              
          <li><a class="link" data-img="screens/Capture_Tasting_Share_mini">Capture_Tasting_Share</a></li>
          <li><a class="link" data-img="screens/Capture_Tasting_Tasting_note_mini">Capture_Tasting_Tasting_note</a></li>  
          
          <li>--- Wineries ---</li>
          <li><a class="link" data-img="screens/FeatureWinery_Features_mini">FeatureWinery_Features</a></li>      
          <li><a class="link" data-img="screens/WineryProfile_Home_01_Activities_mini">WineryProfile_Home_01_Activities</a></li>
          <li><a class="link" data-img="screens/WineryProfile_Home_02_Profile_mini">WineryProfile_Home_02_Profile</a></li>  
          <li><a class="link" data-img="screens/FeaturedWinery_02_Browse_mini">FeaturedWinery_02_Browse</a></li>  
          <li><a class="link" data-img="screens/FeatureWinery_02_Browse_tags_mini">FeatureWinery_02_Browse_tags</a></li>  

         <li>--- Wine trips ---</li>
          <li><a class="link" data-img="screens/WineTripProfile_01_Moments_mini">WineTripProfile_01_Moments</a></li>      
          <li><a class="link" data-img="screens/WineTripProfile_02_Tastings_mini">WineTripProfile_02_Tastings</a></li>      
          <li><a class="link" data-img="screens/WineTripProfile_Home_mini">WineTripProfile_Home</a></li>      

        </ul>
      </div>
 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
  </body>
</html>
